*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Source Sans Pro", sans-serif;
}

body{
    background-image: url(assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px -300px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 200px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    /* height: 100vh; */

}

.navbar li {
    float: left;
    list-style: none;
    margin: 3px 12px;
}
.navbar li a{
    text-decoration: none;
}
.navbar li :hover{
    color: #ffffff;
}
.navbar i {
    font-size: 35px;
    color: #f2dfda;
}

.pointer {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #ffffff;
    margin-left: 7px;
}

.main{
    margin-left: 20px;
    margin-right: 20px; 
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    max-width: 700px;
}

/* @media screen and (max-width:790px) {
    .input{
        width: 200px;
    }
} */
    

@media screen and (max-width:720px) {
    /* body{
        display: block;
        text-align: center;
    } */
    .main{
        max-width: 550px;
    }
    .form{
        padding: 0px;
    }
    .input{
        min-width: 236px;
    }
    .message{
        width: 493px;
    }
    #Message{
        width: 480px;
    }
}

@media screen and (max-width:580px) {
    .main{
        min-width: 450px;
    }
    
}
@media screen and (max-width:480px) {
    .main{
        min-width: 350px;
    }
    .button{
        text-align: center;
        width: 300px;
    }
    .input:nth-child(1){
        margin-bottom: 10px;
    }
    
}
.textArea{
    padding-left: 30px;
    padding-bottom: 5px;
}

.textArea h1{
    color: rgb(75, 75, 75);
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 2.5vw;
    font-weight: normal;
}

.form{
    display: block;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
/* .inputDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
} */
.input{
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(241, 241, 241);
    width: 100%;
    max-width: 308px;
    height: 38px;
    padding-left: 5px;
}
/* .input:nth-child(1){
    margin-right: 8px;
} */

.message{
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(241, 241, 241);
    width: 100%;
    max-width: 627px;
    height: 38px;
    margin: 13px 0px; 
    padding-left: 5px;
}

#Message{
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(241, 241, 241);
    padding-left: 5px;
    padding-top: 15px;
    width: 100%;
    max-width: 633px;
}

.button{
    margin-left: 8px;
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(54, 54, 54);
    color: #ffffff;
    margin-bottom: 25px;
}

@media screen and (max-width:740px) {
    .ip1{
        margin-bottom: 25px;
        max-width: 800px;
    }
    .ip2{
        max-width: 800px;
        margin-bottom: -20px;
    }
    
}